.topic{
    background-image: linear-gradient(#E1A2B8, #9F2BC1);
    box-shadow:10px 11px 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius:20px ;
}
.img{
    border-bottom-left-radius: 20px;
    border-top-right-radius:20px ;
}
.btn{
    width: 80%;
    background-color:rgb(114, 8, 132);
    border-bottom-left-radius: 20px;
    border-top-right-radius:20px ;
    color:white;
    font-size: 20px;
    font-weight: 700;
}
.btn:hover{
    background-color: rgb(55, 2, 65);
}