.home-back{
    background-image: url('../../images/orange-photographic-studio-background-vertical-with-soft-vignette-soft-gradient-background-painted-canvas-studio-backdrop.jpg');
    background-size: 100%;
    height:400px;
    align-items: center;
}