
.b-color{
    margin-top:2%;
    background-image: linear-gradient(#E1A2B8, #9F2BC1);
    padding:1%;
}
.link:hover{
    color:white;
}
.quick{
    background-color: #3b346f;
    align-items: center;
    padding:3px;
    border-bottom-left-radius: 20px;
    border-top-right-radius:20px ;
    color: wheat;
}
@media only screen  and (max-width: 687px){

    
.b-color{
   height:110px;
}
.logo{
    margin-top:2%;
    display: flex;
    justify-content: center;
    margin-bottom:3%;
}
.link-link{
   border-top: 2px solid black;
   font-size:18px;
   margin-left:24px;
}

}